
.title {
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: black;
}

.content {
    background-color: lightgray;
}
.about {
    float: left;
    width: 60%;
}

.contact {
    float: right;
    width: 40%;
}

a {
    color: crimson;
}